{% extends 'expenses/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb mt-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Income</a></li>
          <li class="breadcrumb-item active" aria-current="page">Income Summary</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'income' %}" role="button">Back</a>
    </div>
  </div>
  <div class="expense-chart">
<canvas id="incomeChart" width="640" height="480"></canvas>
  </div>
</div>

<script src="{% static 'js/incomeCharts.js' %}"></script>

{% endblock %}