{% extends 'expenses/auth_base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="card login-card">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img src="{% static 'images/login.jpg' %}" alt="login" class="login-card-img">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <div class="brand-wrapper">
            <img src="{% static 'images/logo.svg' %}" alt="logo" class="logo">
          </div>
          <p class="login-card-description">Create an account</p>
          <form method = "POST">
            <!-- {% csrf_token %} -->
            <div class="form-group">
              <label for="email" class="sr-only">Username</label>
              <input type="email" name="username" id="usernameField" class="form-control" placeholder="Username">
            </div>
            <div class=" text-danger invalid_feedback" style="display: none;">
             
            </div>
            <p class="text-sm text-success usernameSuccessOutput"></p>
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" name="email" id="emailField" class="form-control" placeholder="Email address">
              </div>
              <div class="invalidEmail_feedback" style="display: none;">
             
              </div>
              <p class="text-sm text-success emailSuccessOutput"></p>
              <div class="form-group mb-4">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="passwordField" class="form-control" placeholder="***********">
              </div>
              <small class="float-right py-3 showPassword">Show</small>
              <!-- <div class="form-group mb-4">
                <label for="password" class="sr-only">Confrim Password</label>
                <input type="password" name="password2" id="password2" class="form-control" placeholder="***********">
              </div> -->
              <input name="register" id="register" class="btn btn-block login-btn mb-4" type="button" value="Register">
            </form>
            <p class="login-card-footer-text">Already have an account? <a href="{% url 'login' %}" class="text-reset">Login here</a></p>
            <nav class="login-card-footer-nav">
              <a href="#!">Terms of use.</a>
              <a href="#!">Privacy policy</a>
            </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}