{% extends 'expenses/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">


<h5>Preferred Currency</h5>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <div class="input-group">
        <select class="custom-select" name="currency" id="inputGroupSelect04" aria-label="Example select with button addon">
          <option selected>Choose...</option>
          {% for currency in currencies %}
          <option selected>{{currency.name}} - {{currency.value}}</option>
          {% endfor %}
        </select>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>
</form>
</div>
{% endblock %}